[Unit]
Description=Gogs (Git Web UI)
After=network.target syslog.target mysqld.service

[Service]
Type=simple
User=jd
WorkingDirectory=/opt/gogs
ExecStart=/opt/gogs/gogs web
Restart=always

[Install]
WantedBy=multi-user.target

